<section class="detailedresult-section">
    <div class="card">
        <h1>Disease Prediction</h1>
        <p>Disease Name: Meniscus Tear</p>
        <p>Accuracy: 90%</p>
        <p>Information about disease: A meniscus tear is a common knee injury that occurs when the meniscus, a piece of cartilage that cushions the knee joint, is torn. This can happen due to a sudden twisting or turning motion of the knee, or from a direct blow to the knee.</p>
        <p>Doctor to consult: Orthopedic doctor</p>
    </div>
    <a href="/detailed" class="goback-button">Go Back</a>
</section>